<!DOCTYPE html>
<html>

<head>
    <link id="icon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/scripts/icon.js"></script>
    <title>My Website!</title>
    <link rel="stylesheet" href="/static/css/default.css">
    </link>
    <link rel="stylesheet" href="/static/css/content.css">
    </link>
    <script src="/static/scripts/warn.js"></script>
</head>

<body>
    <div margin-align=auto id="wrapper">
        <header>
            <h1>Some Website</h1>
        </header>
        <nav id="mainnav">
            <a href="/">Home</a>
        </nav>
        <script src="/static/scripts/populatenav.js"></script>
        <h1>Two Truths and a Lie</h1>
        <div class="contentBox">
            <h2>Options:</h2>
            <form action="/twotruthsandalie/join">
                <input type="submit" class="buttona" value="Join Game" />
            </form>
            <br>
            <form action="/twotruthsandalie/host">
                <input type="submit" class="buttona" value="Host Game" />
            </form>
        </div>
    </div>
</body>

</html>